html,
body {
  background-image: url('../app/@img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 940px;
}

.links-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding-top: 30px;
  padding-bottom: 20px;
}

.notification {
  border: 1px solid #02a9dc;
  border-radius: 25px;
  font-size: 20px;
  box-shadow: 0 0 2px #02a9dc, 0 0 2px #02a9dc inset;
  height: 42px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.icon-noti {
  padding-right: 10px;
  padding-left: 10px;
  width: 40px;
}

.searchText {
  color: #02a9dc;
}

.float-lg-left {
  float: left !important;
}

.box-promos {
  padding: 10px 0;
  width: 100%;
  height: 430px;
}

.swiper-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container .swiper-slide-active img {
  opacity: 100%;
  filter: unset;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: hightlight 0.5s infinite;
}

.swiper-container .swiper-slide-active {
  transform: scale(1.2, 2);
  z-index: 1;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.swiper-wrapper {
width: 100%;
height: 100%;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-slide img {
  background-size: contain;
  width: 80%;
  height: 100%;
  filter: brightness(0.3);
  border-radius: 8px;
}

.domains-list {
  width: 100%;
  padding-left: 15px;
}

.link {
  background-color: #124da5da;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 4px;
  border-radius: 42px;
  margin-top: 10px;
}

.p-0 {
  padding: 0 !important;
}

.float-left {
  float: left !important;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.link-number {
  float: left;
}

.yellow-circle {
  background: linear-gradient(to bottom, #cdf0ff 0%, #62a8c6 47%, #cee8ff 100%);
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.black-circle {
  background-color: #0e5f81;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  text-align: center;
}

.test-p {
  color: white;
  font-size: 20px;
  margin-top: 6px;
}

.link-info {
  margin-top: 13px;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.float-left {
  float: left !important;
}

.h5 {
  font-size: 14px !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.text-right {
  text-align: right !important;
}

.link .button {
  background: linear-gradient(to bottom, #90d3ef 0%, #489dc1 47%, #68a3d7 100%);
  border: none;
  padding: 2px 8px;
  border-radius: 14px;
  margin-top: 12px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 14px;
}

.link .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.link .button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.link .button:hover span {
  padding-right: 25px;
}

.link .button:hover span:after {
  opacity: 1;
  right: 0;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

#menu-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 0px;
}

#menu-container #menu {
  width: 800px;
  height: 340px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

#menu-container #menu #menu-bg {
  width: 100%;
}

#menu-container #menu .btn-bg {
  background-image: url('../app/@img/btn-bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 130px;
  position: absolute;
}

#menu-container #menu #android {
  top: 210px;
  left: 78px;
}

#menu-container #menu .btn-bg img {
  margin-top: 35px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}


.item-menu {
  padding-top: 10px;
}

#agent {
  top: 87px;
  left: 184px;
}

#customer-service {
  top: 42px;
  left: 337px;
}

#gift {
  top: 87px;
  left: 490px;
}

#ios {
  top: 210px;
  left: 592px;
}

.home-text-item {
  color: black;
  font-weight: 600;
  text-decoration: none
}

#btn-home {
  background-image: url('../app/@img/btn-home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 84px;
  position: absolute;
  top: 240px;
  left: 250px;
}

#btn-home-items {
  margin-top: 23px;
  margin-left: 50px;
}

#home-icon {
  float: left;
}

#home-text {
  float: left;
  padding-top: 8px;
  margin-left: 32px;
}

.clear-both {
  clear: both;
}

.item-menu-bg {
  padding-top: 30px;
}

img {
  display: block;
  max-width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@-webkit-keyframes at-ripple-blue {
  0% {
      box-shadow: 0 4px 10px rgba(65, 185, 255, 0.1), 0 0 0 0 rgba(65, 179, 255, 0.1), 0 0 0 5px rgba(65, 147, 255, 0.1), 0 0 0 10px rgba(65, 195, 255, 0.1);
  }

  100% {
      box-shadow: 0 4px 10px rgba(65, 179, 255, 0.582), 0 0 0 5px rgba(65, 170, 255, 0.274), 0 0 0 10px rgba(65, 185, 255, 0.205), 0 0 0 20px rgba(65, 201, 255, 0.479);
  }
}

@keyframes at-ripple-blue {
  0% {
      box-shadow: 0 4px 10px rgba(111, 155, 180, 0.774), 0 0 0 0 rgba(72, 126, 161, 0.644), 0 0 0 5px rgba(42, 94, 161, 0.788), 0 0 0 10px rgba(47, 120, 153, 0.719);
  }

  100% {
      box-shadow: 0 4px 10px rgba(91, 162, 209, 0.192), 0 0 0 5px rgba(80, 157, 219, 0.274), 0 0 0 10px hsla(202, 75%, 71%, 0.205), 0 0 0 20px rgba(107, 203, 241, 0.192);
  }
}

#cskh-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: at-ripple-blue 0.6s linear infinite;
}

#cskh-icon img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #cskh-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 20px;
      bottom: 50px;
  }
}